<div class="documents">
  <div class="search-wrapper">
    <mat-form-field class="search" appearance="outline">
      <input matInput [formControl]="searchCtrl" placeholder="Search documents" (keydown.enter)="filterBySearch()">
    </mat-form-field>

    <div class="search-panel" [class.open]="showSearchPanel" *ngIf="showSearchPanel">
      <div class="search-result" *ngFor="let result of searchResults" (click)="selectSearchResult(result)">
        <div class="result-ugyfel">{{ result.ugyfel }}</div>
        <div class="result-desc">{{ result.description }}</div>
      </div>
      <div class="search-footer">
        <span class="footer-left">all search result for "{{ searchCtrl.value }}"</span>
        <span class="footer-right">Press ENTER</span>
      </div>
    </div>
  </div>

  <div class="filters">
    <div class="ugyfel-wrapper">
      <button mat-stroked-button class="ugyfel-btn" (click)="toggleUgyfelPanel()" [attr.aria-expanded]="showUgyfelPanel">
        <mat-icon *ngIf="selectedFilters.length > 0" class="tick">check</mat-icon>
        <span class="label">Ügyfél:&nbsp;{{ selectedFilters.length === 0 ? '' : (selectedFilters.length === 1 ? selectedFilters[0] : selectedFilters[0] + ' +' + (selectedFilters.length - 1)) }}</span>
        <mat-icon class="arrow" [class.open]="showUgyfelPanel">expand_more</mat-icon>
      </button>

      <div class="ugyfel-panel" [class.open]="showUgyfelPanel" *ngIf="showUgyfelPanel">
        <mat-form-field class="ugyfeld-search" appearance="outline">
          <mat-chip-set #chipList aria-label="Selected ügyfél" class="chip-list">
            <mat-chip *ngFor="let s of selectedFilters" removable (removed)="remove(s)">
              {{ s }}
              <button matChipRemove aria-label="Remove">✕</button>
            </mat-chip>
          </mat-chip-set>

          <input matInput [formControl]="ugyfelCtrl" [matAutocomplete]="uauto" placeholder="Search ügyfél">

          <mat-autocomplete #uauto="matAutocomplete" (optionSelected)="selectUgyfel($event.option.value)">
            <mat-option *ngFor="let option of filteredUgyfels$ | async" [value]="option">{{ option }}</mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="top-controls">
    <div class="left-controls">
      <button mat-icon-button (click)="refresh()" aria-label="Refresh" [disabled]="loading">
        <mat-icon *ngIf="!loading">refresh</mat-icon>
        <mat-spinner *ngIf="loading" diameter="20"></mat-spinner>
      </button>
    </div>
    <div class="right-controls">
      <mat-paginator #paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
    </div>
  </div>

  <div class="table-container">
    <div class="table-overlay" *ngIf="loading">
      <mat-progress-spinner diameter="48" mode="indeterminate"></mat-progress-spinner>
    </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z1">

      <ng-container matColumnDef="icon">
        <td mat-cell *matCellDef="let element"><mat-icon aria-hidden="true">{{element.icon}}</mat-icon></td>
      </ng-container>

      <ng-container matColumnDef="ugyfel">
        <td mat-cell *matCellDef="let element">{{ element.ugyfel }}</td>
      </ng-container>

      <ng-container matColumnDef="description">
        <td mat-cell *matCellDef="let element">{{ element.description }}</td>
      </ng-container>

      <ng-container matColumnDef="datetime">
        <td mat-cell *matCellDef="let element" class="datetime-cell">{{ formatDate(element.datetime) }}</td>
      </ng-container>

      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [class.unread]="row.unread" [class.read]="!row.unread"></tr>
    </table>
  </div>
</div>
